/ControlBox/bin
/ControlBox/obj/Debug/net5.0/ControlBox.MvcApplicationPartsAssemblyInfo.cache
/ControlBox/obj/Debug/net5.0/ControlBox.MvcApplicationPartsAssemblyInfo.cs
/ControlBox/obj/Debug/net5.0/ControlBox.pdb
/ControlBox/obj/Debug/net5.0/ControlBox.RazorTargetAssemblyInfo.cache
/ControlBox/obj/Debug/net5.0/ref
/ControlBox/obj/Debug/net5.0/staticwebassets
/ControlBox/obj/Debug/net5.0/apphost.exe
/ControlBox/obj/Debug/net5.0/ControlBox.csproj.CopyComplete
/ControlBox/obj/Debug/net5.0/ControlBox.csproj.CoreCompileInputs.cache
/ControlBox/obj/Debug/net5.0/ControlBox.csproj.FileListAbsolute.txt
/ControlBox/obj/Debug/net5.0/ControlBox.dll
/ControlBox/obj/Debug/net5.0/ControlBox.genruntimeconfig.cache
/ControlBox/obj/ControlBox.csproj.nuget.dgspec.json
